.dashboard-primary-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 78vh;
    width: 95vw;
    margin-top: 7.5vh;
    border: 2px solid var(--black-green);
    border-radius: 5px;
}

.dashboard-menu-box {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-evenly;
    background-color: #ACEFAA;
    border-right: 1px solid var(--black-green);
    border-bottom: 2px solid var(--black-green);
}

.dashboard-menu-box:last-child {
    border-right: none;
}

.dashboard-menu-element {
    display: flex;
    width: calc(21vw - 1px);
    height: 100%;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--black-green);
    border-right: 1px solid var(--black-green);
}

.dashboard-menu-button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.01em;
    padding: 25px 10px;
    border-radius: 0;
}

.dashboard-content-box {
    display: flex;
    flex-direction: column;
    background-color: #DFEADE;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.dashboard-content-box::-webkit-scrollbar {
    display: none;  /* Chrome / Safari / Opera */
}

.dashboard-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
}

.dashboard-content-page {
    display: none;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
}

.dashboard-content-page.active {
    display: flex;
}

.dashboard-section-title-div {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    background-color: #8c97d7;
    color: white;
    font-size: 1.1em;
    border-bottom: 2px solid #021503;
    box-shadow: var(--box-shadow-1);
    text-shadow: 2px 2px 1px #CECDEF;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dashboard-content-sidebar {
    display: flex;
    flex-direction: column;
    left: 0;
    width: 5vw;
    height: 100%;
    padding: 10px;
    background-color: var(--white-green-2);
    border-right: 1px solid var(--black-green);
    box-shadow: var(--box-shadow-1);
}

.dashboard-main-content-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    background-color: #DFB4D2;
    overflow-y: scroll;
}

.dashboard-section-main-lower-div {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dashboard-main-content-row {
    display: flex;
    width: 100%;
    height: min-content;
    border-top: var(--standard-border);
    border-bottom: var(--standard-border);
}

.dashboard-main-content-row::after {
    content: "";
    display: block;
    height: 15px;
    flex-shrink: 0;
}

.dashboard-content-row-title-cell {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-right: var(--standard-border);
    font-size: 1.05em;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #EAC7B2;
}

.dashboard-content-row-main-cell {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dashboard-content-row-sub-row {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
    background-color: #F1B3B5;
    border-top: 1px dotted var(--black-green);
    border-bottom: 1px dotted var(--black-green);
}