* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace, sans-serif;
}

h1 {
    font-size: 1.85em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.25em;
}

label {
    font-size: 0.8em;
}

button {
    cursor: pointer;
}

//
///
//// **** C l a s s e s ****
///
//

.bottom-field {
	height: auto;
	background-color: var(--screech-light-blue);
}

.container {
	display: flex;
	flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--screech-pink);
}

.main-box {
	display: flex;
	flex-direction: column;
	background-color: var(--screech-yellow);
}

.main-box-title-box {
	display: flex;
	height: 5vh;
	padding: 25px 10px;
	justify-content: center;
	align-items: center;
	border-bottom: 2px dashed var(--black-green);
}

.main-box-content-box {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	padding: 5px 5px 13px 5px;
}

.main-field {
    display: flex;
    flex-direction: column;
	flex: 1;
    align-items: center;
}

.main-layout {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.p-subtitle {
    font-weight: bold;
    text-decoration: underline;
}

.policy-main-box {
    width: 50vw;
    margin-top: 3vh;
}

.row-bottom-border {
    border-bottom: 1px solid var(--black-green);
}

.site-title-box {
    position: relative;
	height: 80%;
    display: flex;
	flex-direction: column;
	background-color: var(--screech-yellow);
    border: 1px solid var(--black-green);
    border-radius: 3px;
	padding: 8px;
	font-size: 1.25em;
}

.sub-box {
	background-color: var(--screech-light-blue);
}

.top-field {
	height: 19vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//
///
//// **** I D ' s ****
///
//

#site-title-box-title-row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75%;
	padding: 5px 0;
}

#site-title-box-subtitle-row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25%;
	padding: 20px;
}

//
///
//// **** D e v  A i d s *****
///
//

.dev-border {
	border: 1px solid black;
}
