#submit-button-row {
    padding: 5px;
    border-bottom: 1px solid black;
}

#redirect-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0 15px 0;
    font-size: 0.75em;
}