.code-snippets/
.dev/viihna/
.exports/
.logs/
.scripts/
logs
node_modules/

backend/data/dist-backups/*
backend/data/exports/*
backend/data/ip-lists/*
backend/data/logs/npm/cron/*
backend/data/logs/server/cron/*
backend/data/logs/server/main/*
backend/data/logs/server/startup/*
backend/data/logs/server/test/*

*.crt
*.csr
*.key
*.env
*.pem
.sops.yaml
secrets.json
