{
	"arrowParens": "avoid",
	"brackerSameLine": false,
	"cursorOffset": -1,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"quoteProps": "consistent",
	"printWidth": 100,
	"proseWrap": "preserve",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2,
				"singleQuote": false
			}
		}
	]
}
