/* frontend/src/styles/partials/_global.scss */

@use 'variables';

* {
	box-sizing: border-box;
}

body {
	font-family: variables.$font-stack;
	background-color: variables.$background-color;
	text-align: center;
}
