/* frontend/src/styles/partials/_mixins.scss */

@use 'variables';

@mixin center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button-style {
	background: variables.$primary-color;
	color: white;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
}
