a {
    font-weight: bold;
}

#index-content-box {
    display: flex;
    flex-direction: column;
    width: 65vw;
    padding: 15px;
    margin-top: 6vh;
    align-items: center;
    background-color: #F9F9F9;
}