#primary-container-box {
    flex-direction: column;
    top: 10vh;
    width: 40%;
}

.main-box {
    position: relative;
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
}

#primary-container-box-header-row {
    padding: 10px;
}

#submit-button-row {
    padding: 5px;
    border-bottom: 1px solid black;
}

.main-box-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1vh;
}

#redirect-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0 15px 0;
    font-size: 0.75em;
}