$near-white: #FDFDFD;
$white-blue: #D4D1FA;
$white-green: #F6FBE9;
$white-green-2: #CBE5C4;
$light-blue: #7269D4;
$light-green: #1E8E43;
$dark-blue: #1E1E3A;
$dark-green: #073A18;
$black-blue: #050728;
$black-green: #011206;

$box-shadow-1: 1px 1px 2px #010200AA;

$standard-border: 1px solid $black-green;


:root {
    --near-white: #{$near-white};
    --white-blue: #{$white-blue};
    --white-green: #{$white-green};
    --white-green-2: #{$white-green-2};
    --light-blue: #{$light-blue};
    --light-green: #{$light-green};
    --dark-blue: #{$dark-blue};
    --dark-green: #{$dark-green};
    --black-blue: #{$black-blue};
    --black-green: #{$black-green};

    --box-shadow-1: #{$box-shadow-1};

    --standard-border: #{$standard-border};
}