$white-green: #F6FBE9;
$light-green: #1E8E43;
$dark-blue: #1E1E3A;
$black-green: #011206;

:root {
    --white-green: #{$white-green};
    --light-green: #{$light-green};
    --dark-blue: #{$dark-blue};
    --black-green: #{$black-green};
}