@import url('../global.css');
@import url('../partials/variables.css');

.sign-up-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: auto;
	gap: 10px;
}

.sign-up-form label {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--font-color);
	text-transform: uppercase;
}

.sign-up-form input {
	width: 100%;
	padding: 10px;
	border: 2px solid var(--font-color);
	border-radius: 10px;
	background: var(--page-bg);
	color: var(--font-color);
	font-size: 1rem;
	text-align: center;
}

.sign-up-form input:focus {
	outline: none;
	border-color: var(--link-hover);
	box-shadow: 0 0 10px var(--link-hover);
}

.sign-up-btn {
	width: 100%;
	padding: 12px;
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--font-color);
	background: var(--btn-bg);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.sign-up-btn:hover {
	transform: translateY(-2px);
	background: var(--link-hover);
}

.login-redirect {
	margin-top: 20px;
	font-size: 1.1rem;
	text-align: center;
}

.login-redirect a {
	color: var(--link-color);
	font-weight: bold;
}

.login-redirect a:hover {
	color: var(--link-hover);
}
